/* all wabsite style */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    font-weight: 500;
    font-size: 0.938em;
    color: #ffffff;
    background: #FF900E;
    border-radius: 8px;
    ;
    padding: 15px 18px;
    border: 0;
}

.primary-title {
    font-weight: 600;
    font-size: 2.688em;
}

/* header style */
.header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav style */
.logo {
    font-weight: 600;
    font-size: 41px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    margin-bottom: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    font-size: 18px;
    margin-left: 40px;

}

nav a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-info {
    margin: 0 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    font-weight: 600;
    font-size: 53px;
}

.banner-das {
    text-align: center;
    color: #727272;
    font-weight: 300;
    font-size: 15px;
    margin: 20px 0;
}

.banner-img {
    display: flex;
    justify-content: center;
    padding: 30px 160px;
}

.banner-img img {
    width: 100%;
}

/* quick-list-banner style*/
.quick-list-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 48px 200px;
    gap: 60px;
}

.quick-list-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    gap: 15px;
}

.quick-list-img img {
    width: 100%;
}

.quick-list-style-1 {
    color: #727272;
}

.quick-list-style-2 {
    color: #FF900E;
}

.quick-list-des {
    color: #727272;
    font-weight: 300;
    font-size: 15px;
    margin: 20px 0;
}

/* Features you style */
.features-you {
    margin: 20px 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.features-title-container {
    display: flex;
    gap: 5px;
    margin: 0 25% 20px 0;
}

.features-sitebar {
    width: 9px;
    height: 98px;
    background: #FF900E;
}

.features-img img {
    width: 100%;
    border-radius: 8px;
}

.features-you-des-part {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 440px;
    height: 88px;
    padding: 19px;
    margin-top: 20px;
}

.features-title {
    font-weight: 600;
    font-size: 16px;
}

.features-des {
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}

.ten-year-btn {
    position: relative;
    bottom: 81px;
    right: 40px;
    width: 200px;
    height: 100px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px;

}

.btn-title {
    font-weight: 700;
    font-size: 50px;
}

.btn-des {
    font-weight: 500;
    font-size: 20px;
}

/* some fancts style */
.some-facts-info {
    margin: 70px 712px 50px 160px;
}

.some-facts-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 160px;
}


.some-facts-detais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    gap: 8px;
}

.some-facts-detais:hover {
    transform: scale(1.1);
    background-color: #8bddb4;
}

.some-facts-des {
    color: #727272;
    font-weight: 300;
    font-size: 15px;
}

/* Our Sponspors style */
.spospors-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 110px 415px;
    gap: 18px;
}

.spospors-des {
    color: #727272;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

.sponspors-img {
    display: flex;
    justify-content: space-between;
    margin: 20px 160px;
}

.sponspors-img img {
    width: 136px;
    filter: grayscale(100%);
}
/* Contact Section style */
* {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* Footer style */
.footer-text {
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    margin: 100px 160px 150px 160px;
    padding: 25px;
    color: #727272;
    font-weight: 300;
    font-size: 15px;
}
/*responsive for mobile type devise */
@media only screen and (max-width: 600px) {
    .primary-title {
        font-weight: 500;
        font-size: 30px;
    }

    nav {
        padding: 28px 48px;
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    .logo {
        font-size: 20px;
    }

    nav li {
        font-size: 15px;
    }

    .quick-list-banner {
        grid-template-columns: 1fr;
        margin: 40px 25px;
    }

    .banner-img {
        padding: 34px 25px;
    }

    .banner-info {
        margin: 0 25px;
    }

    .banner-title {
        font-size: 30px;
    }

    .features-you {
        margin: 4px 25px;
        grid-template-columns: 1fr;
    }

    .features-sitebar {
        height: 75px;
    }

    .features-you-des-part {
        width: 90%;
    }
    .ten-year-btn{
        
        position: static;
    }
    .some-facts-info {
        margin: 25px;
    }

    .some-facts-container {
        display: flex;
        flex-direction: column;
        margin: 25px;
    }

    .some-facts-detais {
        width: 100%;
        height: 170px;
        margin-top: 20px;
    }

    .spospors-info {
        margin: 0 25px;
    }

    .sponspors-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        margin: 25px 25px;
    }
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    .footer-text {
        margin: 100px 25px 150px 25px;
    }
}