/* all wabsite style */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    background: #FF900E;
    border-radius: 8px;
    padding: 15px 18px;
    border: 0;
}

.primary-title {
    font-weight: 600;
    font-size: 43px;
}

/* header style */
.header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav style */
.logo {
    font-weight: 600;
    font-size: 41px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    margin-bottom: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    font-size: 18px;
    margin-left: 40px;

}

nav a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner-info {
    margin: 0 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    font-weight: 600;
    font-size: 53px;
}

.banner-das {
    text-align: center;
    color: #727272;
    font-weight: 300;
    font-size: 15px;
    margin: 20px 0;
}

.banner-img {
    display: flex;
    justify-content: center;
    padding: 30px 160px;
}

.banner-img img {
    width: 100%;
}

/* quick-list-banner style*/
.quick-list-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 48px 200px;
    gap: 60px;
}

.quick-list-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    gap: 15px;
}

.quick-list-img img {
    width: 100%;
}

.quick-list-style-1 {
    color: #727272;
}

.quick-list-style-2 {
    color: #FF900E;
}

.quick-list-des {
    color: #727272;
    font-weight: 300;
    font-size: 15px;
    margin: 20px 0;
}

/* Features you style */
.features-you {
    margin: 20px 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.features-title-container {
    display: flex;
    gap: 5px;
    margin: 0 25% 20px 0;
}

.features-sitebar {
    width: 9px;
    height: 98px;
    background: #FF900E;
}

.features-img img {
    width: 100%;
    border-radius: 8px;
}

.features-you-des-part {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 440px;
    height: 88px;
    padding: 19px;
    margin-top: 20px;
}

.features-title {
    font-weight: 600;
    font-size: 16px;
}

.features-des {
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}

.ten-year-btn {
    position: relative;
    bottom: 81px;
    right: 40px;
    width: 200px;
    height: 100px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px;

}

.btn-title {
    font-weight: 700;
    font-size: 50px;
}

.btn-des {
    font-weight: 500;
    font-size: 20px;
}

/* some fancts style */
.some-facts-info {
    margin: 70px 712px 50px 160px;
}

.some-facts-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 160px;
}


.some-facts-detais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    gap: 8px;
}

.some-facts-detais:hover {
    transform: scale(1.1);
    background-color: #8bddb4;
}

.some-facts-des {
    color: #727272;
    font-weight: 300;
    font-size: 15px;
}

/* Our Sponspors style */
.spospors-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 110px 415px;
    gap: 18px;
}

.spospors-des {
    color: #727272;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

.sponspors-img {
    display: flex;
    justify-content: space-between;
    margin: 20px 160px;
}

.sponspors-img img {
    width: 136px;
    filter: grayscale(100%);
}

/* Footer style */
.footer-text {
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    margin: 100px 160px 150px 160px;
    padding: 25px;
    color: #727272;
    font-weight: 300;
    font-size: 15px;
}